<h1>Mis Tareas</h1>

<ul class="list-group">
<% @tasks.each do |t| %>

    
        <li class="list-group-item">
            <%= t.title %>
            <%= link_to "Ver Detalles", user_task_path(current_user, t), class: 'btn btn-info' %>
            <%= link_to "Editar", edit_user_task_path(current_user, t), class: 'btn btn-primary' %>
            <%= link_to "Borrar", user_task_path(current_user, t), class: 'btn btn-danger', method: :delete %>
        </li>
        
    

    
    

<% end %>
</ul>

